<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Some Website</title>
   </head>
    <body>
        <h1>Under construction!</h1>
        <p>Site is currently under maintenance. Please check back later.</p>
    </body>
</html>